# Local
.DS_Store
*.local
*.log*

# Dependencies
node_modules
.pnpm-store
.pnpm-debug.log*

# Package managers
package-lock.json
yarn.lock

# Dist
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
